<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.select :year, (1900..Time.now.year).to_a, :include_blank => {:year => "Select year"} %>
  </div>


  <div class="field">
    <%= f.label :genres %>
    <div style="margin-left: 10px">
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
