<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>


<p>
  <strong>Genres:</strong>
  <%= @movie.genres.pluck :name %>
</p>

<p>
  <strong>Users Favorited:</strong>
  <%= @movie.users.pluck :username %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
