<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <image src="<%= url_for(@movie.thumbnail) if @movie.thumbnail.attached? %>">
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Main Star:</strong>
  <%= @movie.main_star %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @movie.genres.pluck :name %>
</p>

<p>
  <strong>Users Favorited Count:</strong>
  <%= @movie.users.length %>
  <%= @movie.users.pluck :username %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
