<!DOCTYPE html>
<html>
  <head>
    <title>WhatAMovie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
    <%= link_to 'Movies', movies_path %>
    <%= link_to 'Genres', genres_path %>

    <td><%= link_to 'Logout',  { controller: 'users', action: :destroy, id: @current_user.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
    <%= yield %>
  </body>
</html>
